Repository spiffe/tornjak, pull requests merged in 2023-06, with the labels that each got.

#243 Frontend Dynamic env variables update bug patch
  Dockerfile.frontend-container
  docker-compose-frontend.yml
  tornjak-frontend/.env.prod
  tornjak-frontend/.env.staging
  tornjak-frontend/package-lock.json
  tornjak-frontend/package.json
Labels: bug, critical

#244 Convert dashboard files to tsx
  tornjak-frontend/src/charts/PieChart.tsx
  tornjak-frontend/src/components/dashboard/agents-dashboard-table.tsx
  tornjak-frontend/src/components/dashboard/agents-pie-chart.tsx
  tornjak-frontend/src/components/dashboard/clusters-dashboard-table.tsx
  tornjak-frontend/src/components/dashboard/clusters-pie-chart.tsx
  tornjak-frontend/src/components/dashboard/entries-dashboard-table.tsx
  tornjak-frontend/src/components/dashboard/render-cell-expand.tsx
  tornjak-frontend/src/components/dashboard/table/dashboard-table.tsx
  tornjak-frontend/src/components/dashboard/title.tsx
  tornjak-frontend/src/components/navbar.tsx
  tornjak-frontend/src/components/types.ts
Labels: frontend

#250 docs: Update README.md based on Windows installation
  docs/quickstart/README.md
Labels: documentation

#252 Compatibility notice
  USAGE.md
  docs/quickstart/server-statefulset-examples/backend-sidecar-server-statefulset.yaml
  docs/quickstart/server-statefulset-examples/tornjak-sidecar-server-statefulset.yaml
  docs/quickstart/server-statefulset.yaml
Labels: documentation

#234 Migrate MUI to v5
  tornjak-frontend/package-lock.json
  tornjak-frontend/package.json
  tornjak-frontend/src/App.tsx
  tornjak-frontend/src/components/dashboard/agents-dashboard-table.tsx
  tornjak-frontend/src/components/dashboard/clusters-dashboard-table.tsx
  tornjak-frontend/src/components/dashboard/dashboard-details-render.js
  tornjak-frontend/src/components/dashboard/dashboard-details.js
  tornjak-frontend/src/components/dashboard/dashboard-drawer.js
  tornjak-frontend/src/components/dashboard/entries-dashboard-table.tsx
  tornjak-frontend/src/components/dashboard/render-cell-expand.tsx
  tornjak-frontend/src/components/dashboard/table/dashboard-table.tsx
  tornjak-frontend/src/components/dashboard/title.tsx
  tornjak-frontend/src/components/dashboard/tornjak-dashboard.js
  tornjak-frontend/src/components/entry-create.tsx
  tornjak-frontend/src/components/style.css
Labels: enhancement, frontend, javascript

#266 Remove spire config requirement from backend #129
  USAGE.md
  docs/config-tornjak-server.md
  tornjak-backend/api/agent/api.go
  tornjak-backend/api/agent/server.go
  tornjak-backend/cmd/agent/agent.go
Labels: backend, go

#272 Upgrade Golang version and SPIRE libraries used #271
  .github/workflows/ci.yaml
  .github/workflows/master-build.yaml
  Makefile
  go.mod
  go.sum
  tornjak-backend/api/agent/api.go
  tornjak-backend/api/agent/server.go
  tornjak-backend/api/agent/types.go
  tornjak-backend/cmd/agent/agent.go
  tornjak-backend/pkg/agent/db/sqlite_test.go
Labels: dependencies, backend
