Repository spiffe/tornjak, pull requests merged in 2023-05, with the labels that each got.

#186 Adding fs module - frontend
  tornjak-frontend/package-lock.json
  tornjak-frontend/package.json
Labels: security, frontend

#197 Removing ui-agent and ui-manager from build
  Makefile
Labels: bug

#196 Renaming health check env variables
  Dockerfile.frontend-container
  docker-compose-frontend.yml
  tornjak-frontend/.env
  tornjak-frontend/.env.prod
  tornjak-frontend/.env.staging
  tornjak-frontend/package-lock.json
  tornjak-frontend/package.json
  tornjak-frontend/src/App.tsx
  tornjak-frontend/src/components/dashboard/tornjak-dashboard.js
  tornjak-frontend/src/components/entry-create.tsx
  tornjak-frontend/src/components/helpers.ts
  tornjak-frontend/src/components/is_manager.ts
  tornjak-frontend/src/components/spire-health-check.tsx
  tornjak-frontend/src/components/tornjak-server-info.tsx
  tornjak-frontend/src/redux/store.ts
Labels: enhancement, frontend, In Review

#220 Dynamically change frontend env variables and reduce image size
  Dockerfile.frontend-container
  tornjak-frontend/.env
  tornjak-frontend/.env.prod
  tornjak-frontend/.env.staging
  tornjak-frontend/package-lock.json
  tornjak-frontend/package.json
  tornjak-frontend/public/index.html
  tornjak-frontend/src/App.css
  tornjak-frontend/src/App.tsx
  tornjak-frontend/src/auth/KeycloakAuth.js
  tornjak-frontend/src/components/RenderOnAdminRole.tsx
  tornjak-frontend/src/components/helpers.ts
  tornjak-frontend/src/components/is_manager.ts
  tornjak-frontend/src/components/navbar-header-toolbar.tsx
  tornjak-frontend/src/components/navbar.tsx
  tornjak-frontend/src/components/spire-health-check.tsx
  tornjak-frontend/src/components/style.css
  tornjak-frontend/src/components/tornjak-api-helpers.tsx
  tornjak-frontend/src/env.ts
  tornjak-frontend/src/index.tsx
  tornjak-frontend/src/redux/reducers/serversReducer.ts
  tornjak-frontend/src/tables/table-body.tsx
  tornjak-frontend/src/tables/table-toolbar.tsx
Labels: frontend

#222 Fixing 404 route bug during serve - production
  Dockerfile.frontend-container
  tornjak-frontend/src/components/dashboard/dashboard-drawer.js
  tornjak-frontend/src/components/spire-health-check.tsx
  tornjak-frontend/src/components/style.css
Labels: bug, critical, frontend

#223 Fix merge conflicts
  Dockerfile.frontend-container
  Makefile
Labels: bug

#231 Cluster List Testing (2)
  .idea/.gitignore
  .idea/modules.xml
  .idea/tornjak.iml
  .idea/vcs.xml
  package-lock.json
  tornjak-frontend/jest.config.js
  tornjak-frontend/package-lock.json
  tornjak-frontend/package.json
  tornjak-frontend/src/Utils/index.js
  tornjak-frontend/src/components/__tests__/__snapshots__/cluster-create.test.jsx.snap
  tornjak-frontend/src/components/__tests__/__snapshots__/cluster-list.test.jsx.snap
  tornjak-frontend/src/components/__tests__/cluster-create.test.jsx
  tornjak-frontend/src/components/__tests__/cluster-list.test.jsx
  tornjak-frontend/src/components/agent-list.js
  tornjak-frontend/src/components/cluster-list.tsx
  tornjak-frontend/src/components/cluster-management.tsx
  tornjak-frontend/src/components/style.css
  tornjak-frontend/src/tables/list-table.tsx
Labels: frontend

#238 Keycloak realm import automation
  Dockerfile.add-keycloak
  docker-compose-keycloak.yml
  examples/Tornjak-keycloak-realm-import.json
  examples/keycloak/client/tornjak-keycloak-client-import.json
  examples/keycloak/realm/tornjak-realm.json
  tornjak-frontend/src/components/style.css
Labels: enhancement, frontend
