Repository spiffe/tornjak, pull requests merged in 2023-04, with the labels that each got.

#161 implement health check
  docs/tornjak-ui-api-documentation.md
  tornjak-backend/api/agent/api.go
  tornjak-backend/api/agent/server.go
Labels: enhancement, backend

#164 Adding SPIRE health check status UI
  tornjak-frontend/.env
  tornjak-frontend/src/App.css
  tornjak-frontend/src/App.tsx
  tornjak-frontend/src/components/navbar.tsx
  tornjak-frontend/src/components/spire-health-check.tsx
  tornjak-frontend/src/components/style.css
  tornjak-frontend/src/components/tornjak-api-helpers.tsx
  tornjak-frontend/src/redux/actions/index.ts
  tornjak-frontend/src/redux/actions/types.ts
  tornjak-frontend/src/redux/reducers/serversReducer.ts
Labels: frontend

#171 Add Release Documentation
  README.md
  USAGE.md
Labels: documentation
