Repository spiffe/tornjak, pull requests merged in 2024-10, with the labels that each got.

#508 Update Tornjak APIs in manager code
  api/manager/server.go
Labels: backend, manager

#509 Refactor backend code
  api/agent/config.go
  api/agent/handlers.go
  api/agent/server.go
  api/agent/spire_apis.go
  api/agent/tornjak_apis.go
Labels: backend

#513 Update manager mode
  frontend/src/components/entry-create.tsx
  frontend/src/components/navbar.tsx
  frontend/src/components/select-server.tsx
  frontend/src/components/server-management.js
  frontend/src/components/server-management.tsx
  frontend/src/components/style.css
  frontend/src/components/tornjak-api-helpers.tsx
  frontend/src/components/tornjak-server-info.tsx
  frontend/src/components/types.ts
  frontend/src/redux/actions/index.ts
  frontend/src/redux/actions/types.ts
  frontend/src/tables/clusters-list-table.tsx
  frontend/src/tables/entries-list-table.tsx
  frontend/src/tables/list-table.tsx
  frontend/src/tables/servers-list-table.tsx
  frontend/src/tables/table-toolbar.tsx
  go.mod
Labels: frontend, manager

#518 Add healthcheck and serverinfo calls to manager backend
  api/manager/server.go
Labels: backend, manager, go

#534 Deprecate Old API
  api/agent/config.go
  api/agent/server.go
  api/agent/types.go
  docs/conf/agent/full.conf
  docs/quickstart/README.md
  docs/quickstart/server-statefulset-examples/backend-sidecar-server-statefulset.yaml
  docs/tornjak-ui-api-documentation.md
  pkg/agent/authorization/rbac.go
  pkg/agent/authorization/rbac_test.go
Labels: backend, go

#537 Adding CRD config plugin section
  api/agent/config.go
  api/agent/server.go
  api/agent/types.go
  docs/conf/agent/full.conf
  docs/config-tornjak-server.md
  docs/plugin_server_spirecrd.md
  pkg/agent/spirecrd/crdmanager.go
Labels: backend, go, Ready For Review

#548 Revert quickstart version to v1.9.0
  docs/quickstart/server-statefulset-examples/backend-sidecar-server-statefulset.yaml
Labels: documentation

#542 Add GET ClusterFederatedTrustDomain API
  api/agent/config.go
  api/agent/crd_handlers.go
  api/agent/server.go
  api/agent/spire_apis.go
  docs/plugin_server_spirecrd.md
  go.mod
  go.sum
  openapi.yaml
  pkg/agent/spirecrd/crdmanager.go
  pkg/agent/spirecrd/federation.go
  pkg/agent/spirecrd/helpers.go
  pkg/agent/spirecrd/manager.go
Labels: backend, go
