Repository spiffe/tornjak, pull requests merged in 2024-08, with the labels that each got.

#463 Rename directory in Tornjak Backend container
  Dockerfile.backend-container
  Dockerfile.backend-container.ubi
  examples/tls_mtls/README.md
  examples/tls_mtls/server-statefulset-mtls.yaml
  examples/tls_mtls/server-statefulset-tls.yaml
  scripts/run_backend.sh
Labels: backend

#472 Added spire server unique identifier
  frontend/src/components/navbar.tsx
  frontend/src/components/style.css
Labels: enhancement, frontend, Ready For Review

#478 Add SPIRE Bundle APIs
  api/agent/api.go
  api/agent/server.go
  api/agent/types.go
Labels: backend, go, Ready For Review
