Repository spiffe/tornjak, pull requests merged in 2024-02, with the labels that each got.

#329 Fix frontend error on run
  frontend/Dockerfile.frontend-container
  frontend/Dockerfile.frontend-container.ubi
Labels: bug, frontend

#348 Remove spire dependency
  api/agent/types.go
  cmd/agent/main.go
  go.mod
  go.sum
Labels: dependencies, backend, Ready For Review

#347 Add support for Multi arch image (Frontend)
  .github/workflows/ci.yaml
  .github/workflows/master-build.yaml
  Makefile
  frontend/Dockerfile.frontend-container
Labels: bug, enhancement, github_actions, Ready For Review

#353 Fix multi-arch frontend build
  .github/workflows/master-build.yaml
  Makefile
Labels: frontend
